.header {
	background: rgba($dark-color, 0.1);
  padding: 23px 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__language {
    padding-right: 24px;
    position: relative;
    &::after {
      content: "";
      background: url('../images/arrow-down.svg');
      position: absolute;
      top: -4px;
      right: 0;
      height: 24px;
      width: 24px;
    }
  }
  &__search {
    height: 20px;
    width: 20px;
  }
  &__tel {
    font-size: 20px;
    font-weight: 600;
  }
}
