// Fonts
$main-font: 'RF Tone';

// Container
$container-width: 1140px;
$container-padding: 15px;

// Colors
$main-color: #F9FAFB;
$muted-color: #E2E5EC;
$accent-color: #006A5F;
$text-color: #3A3F43;
$dark-color: #000;
