<section class="contacts">
	<div class="container">
		<h2 class="contacts__title">Контакты</h2>
		<div class="contacts__maps">
			<div class="contacts__map">
				<div class="contacts__map-map"></div>
				<p class="contacts__map-city-name">Москва:</p>
				<a class="contacts__map-phone" href="tel:+74955400527"
					>+7 (495) 540-05-27</a
				>
				<p class="contacts__map-address">127015, Новодмитровская, 2Б</p>
			</div>
			<div class="contacts__map">
				<div class="contacts__map-map"></div>
				<p class="contacts__map-city-name">Нижний Новгород:</p>
				<a class="contacts__map-phone" href="tel:+78314221221"
					>+7 (831) 422-12-21</a
				>
				<p class="contacts__map-address">
					603057, Нижний Новгород, пр. Гагарина, 50 (Корпус 9)БЦ "Чёрная
					Жемчужина"
				</p>
			</div>
		</div>

		<div class="contacts__form form">
			<h3 class="contacts__form-title">Напишите нам</h3>
			<form action="#">
				<div class="contacts__form-grid">
					<div class="form__input-data">
						<input class="form__input" type="text" required />
						<label class="form__label" for="">Ваше имя *</label>
					</div>
					<div class="form__input-data">
						<input class="form__input" type="text" required />
						<label class="form__label" for="">Телефон *</label>
					</div>
					<div class="form__input-data">
						<input class="form__input" type="text" required />
						<label class="form__label" for="">Ваш e-mail *</label>
					</div>
					<div class="form__input-data">
						<input class="form__input" type="text" required />
						<label class="form__label" for="">Компания *</label>
					</div>
					<div class="form__input-data">
						<section>
							<option value="1">Вопрос по уже имеющемуся решению</option>
						</section>
						<label class="form__label" for="">Компания *</label>
					</div>
					<div class="form__input-data form__textarea-data">
						<textarea class="form__input"></textarea>
						<label class="form__label" for="">Введите комментарий</label>
					</div>
					<div class="form__checkbox-wrap">
						<input
							class="form__checkbox"
							type="checkbox"
							id="approval"
							name="happy"
							value="yes"
						/>
						<label for="approval"></label>
						<p class="form__checkbox-text">
							Я согласен на обработку персональных данных и
							<a href="#">Политику обработки персональных данных</a>
						 </p>
					</div>
					<button class="form__btn btn">Отправить</button>
				</div>
			</form>
		</div>
	</div>
</section>
