<section class="decisions" id="decisions">
	<div class="container">
		<div class="decisions__grid">
			<div class="decisions__block-left">
				<h2 class="decisions__title">
					Все решения компании разрабатываются в соответствии с системой
					менеджмента качества по международному стандарту ISO 9001
				</h2>
				<a class="decisions__btn btn" href="#">Все решения</a>
			</div>
			<div class="decisions__block-right">
				<div class="decisions__tabs">
					<p class="decisions__tab decisions__tab--active" data-tab="1">
						АПК «ИС БД ОРМ «Январь-374»
					</p>
					<p class="decisions__tab" data-tab="2">АПК «ИС БД ОРМ «Январь-ОРИ»</p>
					<p class="decisions__tab" data-tab="3">АПК «ТС ОРМ «СОРМович»</p>
					<p class="decisions__tab" data-tab="4">
						АПК «СОРМович-<br />Агрегатор»
					</p>
				</div>
				<div class="decisions__contents">
					<div class="decisions__content">
						<img
							class="decisions__content-img"
							src="assets/images/sormovich.svg"
							alt=""
						/>
						<div class="decisions__content-wrap">
							<div
								class="decisions__content-text decisions__content-text--1 decisions__content-text--active"
							>
								<h3 class="decisions__content-title">
									АПК «ИС БД ОРМ «Январь-374»
								</h3>
								<p class="decisions__content-desc">
									Входит в состав комплексного решения, предназначенного для
									реализации требований Федерального закона №374-ФЗ от 6 июля
									2016г. во всех видах сетей операторов связи. Осуществляет
									накопление и хранение содержимого соединений в соответствии с
									требованиями законодательства и предоставляет возможности
									гибкого горизонтального масштабирования. ПО решения включено в
									Единый реестр российских программ для электронных
									вычислительных машин и баз данных.
								</p>
							</div>
							<div class="decisions__content-text decisions__content-text--2">
								<h3 class="decisions__content-title">
									АПК «ИС БД ОРМ «Январь-ОРИ»
								</h3>
								<p class="decisions__content-desc">
									Aperiam quaerat vel alias explicabo est et perspiciatis,
									libero, id autem repudiandae aut corporis dignissimos, modi
									quis eum placeat velit perferendis totam qui molestiae? Minus
									soluta officiis cupiditate ipsa repellendus repudiandae
									consectetur fugiat dolorum. Nostrum.
								</p>
							</div>
							<div class="decisions__content-text decisions__content-text--3">
								<h3 class="decisions__content-title">АПК «ТС ОРМ «СОРМович»</h3>
								<p class="decisions__content-desc">
									Lorem ipsum, dolor sit amet consectetur adipisicing elit.
									Dignissimos velit accusamus eligendi expedita ab doloremque
									iure omnis totam et unde quis numquam nihil maiores aperiam
									nisi modi, distinctio recusandae fugiat. Est animi ipsa iure
									reiciendis.
								</p>
							</div>
							<div class="decisions__content-text decisions__content-text--4">
								<h3 class="decisions__content-title">
									АПК «СОРМович-Агрегатор»
								</h3>
								<p class="decisions__content-desc">
									Lorem ipsum, dolor sit amet consectetur adipisicing elit.
									Dignissimos velit accusamus eligendi expedita ab doloremque
									iure omnis totam et unde quis numquam nihil maiores aperiam
									nisi modi, distinctio recusandae fugiat. Est animi ipsa iure
									reiciendis. Входит в состав комплексного решения,
									предназначенного для реализации требований Федерального закона
									№374-ФЗ от 6 июля 2016г. Lorem ipsum, dolor sit amet
									consectetur adipisicing elit.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
