<section class="decisions">
	<div class="container">
		<div class="decisions__grid">
			<div class="decisions__block-left">
				<h2 class="decisions__title">
					Все решения компании разрабатываются в соответствии с системой
					менеджмента качества по международному стандарту ISO 9001
				</h2>
				<a class="decisions__btn btn" href="#">Все решения</a>
			</div>
			<div class="decisions__block-right">
				<div class="decisions__tabs">
					<p class="decisions__tab decisions__tab--active">
						АПК «ИС БД ОРМ «Январь-374»
					</p>
					<p class="decisions__tab">АПК «ИС БД ОРМ «Январь-ОРИ»</p>
					<p class="decisions__tab">АПК «ТС ОРМ «СОРМович»</p>
					<p class="decisions__tab">АПК «СОРМович-<br />Агрегатор»</p>
				</div>
				<div class="decisions__contents">
					<div class="decisions__content">
						<img
							class="decisions__content-img"
							src="assets/images/sormovich.svg"
							alt=""
						/>
						<div class="decisions__content-text">
							<h3 class="decisions__content-title">
								АПК «ИС БД ОРМ «Январь-374»
							</h3>
							<p class="decisions__content-desc">
								Входит в состав комплексного решения, предназначенного для
								реализации требований Федерального закона №374-ФЗ от 6 июля
								2016г. во всех видах сетей операторов связи. Осуществляет
								накопление и хранение содержимого соединений в соответствии с
								требованиями законодательства и предоставляет возможности
								гибкого горизонтального масштабирования. ПО решения включено в
								Единый реестр российских программ для электронных вычислительных
								машин и баз данных.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
