<section class="first">
	<div class="container">
		<div class="first__top">
			<h1 class="first__title">Компания «Цитадель»</h1>
			<p class="first__text text">
				разрабатывает, внедряет и обеспечивает поддержку программно-аппаратных
				комплексов ТС ОРМ для операторов связи, владельцев автономных систем и
				организаторов распространения информации в целях реализации требований
				действующего законодательства.
			</p>
		</div>
		<div class="first__bottom">
			<p class="first__main-text">
				Объединив опыт четырех основных игроков на рынке систем легального
				контроля, «Цитадель» приобрела уникальную экспертизу в разработке и
				создания решений для всех видов связи.
			</p>
			<div class="first__block">
				<p class="first__bottom-text text">
					Более 3 000 успешных проектов по внедрению решений – свидетельство
					высокого профессионализма и понимания проблем как крупных операторов
					мобильной и фиксированной связи, так и малых бизнесов, предоставляющих
					услуги доступа к сети интернет и предоставление новостного контента во
					многих регионах страны.
				</p>
				<a class="first__bottom-btn btn" href="#">Читать подробнее</a>
			</div> 
		</div>
	</div>
</section>
