<footer class="footer">
	<div class="container">
		<div class="footer__row">
			<img class="footer__logo" src="assets/images/footer-logo.svg" alt="" />
			<p class="footer__address footer__address--1">
				603057, Нижний Новгород, пр. Гагарина, 50 (Корпус 9)БЦ "Чёрная
				Жемчужина"
			</p>
			<p class="footer__address footer__address--2">127015, Москва, ул. Новодмитровская, 2Б</p>
			<div class="footer__contacts">
				<a class="footer__phone" href="tel:+74956662333">+7 (495) 666-23-33</a>
				<a class="footer__mail" href="mailto:info@ctdl.ru">info@ctdl.ru</a>
			</div>
		</div>
    <div class="footer__line"></div>
    <a class="footer__personal-data-policy" href="#">Политика персональных данных</a>
	</div>
</footer>
 