<header class="header">
	<div class="container">
		<div class="header__row">
			<a class="header__logo" href="#">
				<img src="assets/images/logo.svg" alt="" />
			</a>
			<nav class="nav">
				<ul class="nav__list">
					<li><a href="#">О компании</a></li>
					<li><a href="#">Решения</a></li>
					<li><a href="#">Законодательство</a></li>
					<li><a href="#">Карьера</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</nav>
			<p class="header__language">RU</p>
			<img class="header__search" src="assets/images/search.svg" alt="" />
			<a class="header__tel" href="tel:+74956662333">+7 (495) 666-23-33</a>
		</div>
	</div>
</header>
